@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Lato-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Lato-Bold.woff2') format('woff2');
}